.sliderForm {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: max-content;
    margin-top: 0;
    padding: 2% 1%;
    border-radius: 0;
    width: 460px;
    background: rgba(217, 217, 217, 0.1);
    min-height: 92%;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    right: 9%;
    position: absolute !important;
}
.notification {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border-radius: 4px;
    z-index: 100;
  }
.toColumn {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
.sliderForm > h3 {
    font-weight: 700;
    font-size: clamp(22px, 10vw, 24px);
    line-height: 118%;
    text-transform: uppercase;
    color: #FFF;
    margin-top: 20%;
}
.sliderForm input {
    color: #fff;
    border-radius: 6px;
    padding: 5% 10%;
    border: none;
    background: rgba(255, 255, 255, 0.53);
    font-size: clamp(14px,0.8vw, 18px) !important;
}
.contactsFormContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.contactsFormContainer input {
	color: #fff;
	border-radius: 6px;
	padding: 4% 3%;
	border: none;
	background: rgba(255, 255, 255, 0.53);
	font-size: clamp(14px,0.8vw, 18px) !important;
}
.contactsFormContainer > * {
    width: 40%;
}
.cityesContainer, .dataContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
}
.dataContainer {
    margin-top: 10px;
}
.dataContainer input {
    width: 100%;
    padding: 4% 3%;
    margin-top: 0 !important;
}
.leftForm {
    background-color: #292929;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8% 4%;
    overflow: hidden;
    border-radius: 6px;
}
.leftForm * {
    color: #fff;
}
.leftForm > div {
    width: 84.7%;
    margin-top: 20px;
    margin-bottom: 20px;
}
.mainPageForm {
    position: relative;
    margin-top: 120px;
    width: 100%;
    height: clamp(600px, 35vw, 1000px) !important;
    margin-left: auto !important;
    margin-right: auto !important;
    background-color: rgba(0,0,0,0) !important;
    padding: 2% 0 !important;
}
.mainPageForm .mainForm {
    position: absolute;
    right: 10%;
    bottom: 18%;
}
.mainPageForm .mainForm div {
    display: flex;
    width: clamp(320px, 10vw, 250px);;
    flex-direction: column;
    justify-content: space-between;
    height: clamp(150px, 7vw, 200px);
}
.mainPageForm > img {
    z-index:  -1;
    object-fit: contain;
}
.mainPageForm h3 {
    font-family: "Inter";
    font-weight: 700;
    font-size: clamp(25px, 2vw, 45px);
    width: clamp(280px, 52%, 850px);
    text-transform: uppercase;
    color: #fff;
    position: absolute;
    top: 60%;
    left: 40px;
}
.mainPageForm > p:nth-child(2) {
    color: #fff;
    background-color: rgba(0,0,0,0.5);
    width: max-content;
    padding: 5px;
    border-radius: 9px;
    position: absolute;
    bottom: 42%;
    left: 40px;
}
.mainPageForm > p:last-child {
    width: clamp(100px, 20vw, 300px);
    position: absolute;
    font-size: clamp(12px, 0.9vw, 16px);
    left: 37%;
    bottom: 1%;
}
.mainPageForm form div {
    display: flex;
    flex-direction: column !important;
    flex-wrap: nowrap;
    width: 100%;
}
.mainPageForm form input {
    border-radius: 9px;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    font-size: clamp(12px, 1vw, 16px);
}
.mainPageForm form button {
    border-radius: 9px;
    border: none;
    padding: 10px 0;
    text-transform: uppercase;
    font-family: "Inter";
    font-weight: 700;
    font-size: clamp(12px, 1vw, 16px);
    color: #fff;
}
.dataContainer .dataRow {
    display: flex;
    flex-direction: row;
    width: 45%;
}
.dataContainer .dataRow input {
    border-radius: 9px 0px 0px 9px;
}
.dataContainer .dataRow img {
    position: relative !important;
    height: 56px !important;
    width: auto !important;
    margin-top: auto !important;
}
.cityesContainer input {
    color: #292929;
    border-radius: 6px;
    padding: 4% 3%;
    border: none;
    width: 42%;
    font-size: clamp(14px,0.8vw, 18px) !important;
}
.cityesContainer > img {
    position: relative !important;
    height: 56px !important;
    width: auto !important;
    margin-top: auto !important;
}
.cityesContainer > input:first-child {
    border-radius: 9px 0 0 9px;
}
.cityesContainer > input:last-child {
    border-radius: 0 9px 9px 0;
}
.sliderForm input:not(input[type="name"]), .sliderForm button {
    margin-top: 2%;
}
.sliderForm button {
    font-weight: bold;
    font-family: "Inter";
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    border-radius: 6px;
    padding: 5% 3% !important;
    border: none;
    height: 55px !important;
    cursor: pointer;
    transition: all .3s;
    margin-bottom: 20%;
    font-size: clamp(14px,0.8vw, 18px) !important;
    background: linear-gradient(343deg, #ff6006 0%, #ffa800 100%) !important;
    width: 100% !important;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sliderForm button:hover {
    scale: 1.1;
}
.mainContainerForm {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 120px;
    margin-bottom: 100px;
    border-radius: 30px;
    padding: 2% 5%;
    height: 20vw;
    min-height: max-content;

    background: #FFCA18;
}
.mainContainerForm form {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 45%;
    height: 100%;
    margin-bottom: 2%;
}
.mainContainerForm form div {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
}
.mainContainerForm form h3 {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 3vw;
}
.mainContainerForm form p {
    font-weight: 400;
    font-size: 1.3vw;
    width: 100%;
    margin-bottom: 5%;
}
.mainContainerForm form input {
    border: none;
    padding: 2% 5%;
    width: 38%;
    border-radius: 40px;
    background: #FFF;
}
.mainContainerForm form button {
    width: 100%;
    border: none;
    padding: 2% 5%;
    border-radius: 40px;
    background: #FFF;
    font-weight: 600;
    margin-top: 2%;
    cursor: pointer;
    font-size: 1.4vw;
    transition: all .3s;
}
.mainContainerForm button:hover {
    scale: 1.1;
}
.mainContainerForm form h3, .mainContainerForm form p {
    text-align: center;
    width: 100%;
}
.imgContainer {
    position: relative;
    width: 25%;
    height: 80%;
}
.subscribeForm {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.subscribeForm > *:first-child {
    border-radius: 10px 0 0 10px;
    border: 1px solid #1D64B4;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: rgb(29, 100, 180);
    border-right: none;
    width: 70%;
    padding-left: 20px;
    color: rgba(0,0,0,0.6);
    font-family: Inter;
    font-size: clamp(14px,1vw,18px);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.subscribeForm > *:first-child:focus {
    outline: none;
}
.subscribeForm > *:last-child {
    border-radius: 0 10px 10px 0;
    border: 1px solid #1D64B4;
    width: 30%;
    color: #1D64B4;
    padding-left: 10px;
    background-color: #fff;
    font-family: Inter;
    font-size: clamp(14px,1vw,18px);
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.subscribeForm > *:last-child:hover {
    color: #fff;
    background-color: #1D64B4;
}
.subscribeForm {
    height: 55px;
}
.moduleForm {
    position: relative;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 30px 90px;
    border-radius: 9px;
    width: 30%;
}
.moduleForm h3 {
    color: #1B1B1B;
    text-align: center;
    font-family: Inter;
    font-size: clamp(21px,2vw,24px);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.moduleForm button {
    width: 100%;
    margin-top: 20px;
    font-weight: bold;
    font-family: "Inter";
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    border-radius: 6px;
    padding: 5% 3% !important;
    border: none;
    height: 55px !important;
    cursor: pointer;
    transition: all .3s;
    font-size: clamp(14px,0.8vw, 18px) !important;
    background: linear-gradient(343deg, #ff6006 0%, #ffa800 100%) !important;
    width: 100% !important;
    display: flex;
    align-items: center;
    justify-content: center;
}
.moduleForm > *:not(:first-child) {
    margin-top: 15px;
}
.moduleForm > input {
    border: 1px solid #1D64B4;
    padding-left: 20px;
}
.moduleForm > input , .moduleForm > button {
    height: 50px;
    border-radius: 10px;
}
.exitModule {
    right: 10px;
    top: 10px;
    position: absolute;
    width: clamp(16px, 1vw, 32px);
    height: clamp(16px, 1vw, 32px);
    cursor: pointer;
}
.exitModule span {
    display: block;
    background-color: #292929;
    width: 100%;
    height: 3px;
    border-radius: 6px;
}
.exitModule span:first-child {
    position: absolute;
    rotate: 45deg;
}
.exitModule span:last-child {
    position: absolute;
    rotate: -45deg;
}
@media screen and (max-width: 1550px) {
    .mainPageForm > p:last-child {
        width: clamp(100px, 20vw, 300px);
        position: absolute;
        font-size: clamp(12px, 0.9vw, 16px);
        left: 0;
        bottom: 0;
        transform: translate(28vw, -3vw)
    }
}
@media screen and (max-width: 798px) {
    
    .subscribeForm {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        height: max-content;
    }
    .mainPageForm > img {
        z-index: -1;
        object-fit: cover;
        margin-left: 0;
        width: 100% !important;
    }
    .mainPageForm {
        position: relative;
        margin-top: 120px;
        width: 100%;
        height: clamp(600px, 35vw, 1000px) !important;
        margin-left: auto !important;
        margin-right: auto !important;
        background-color: rgba(0,0,0,0) !important;
        padding: 2% 0 !important;
        display: grid;
        grid-auto-flow: row;
        grid-template-columns: 100%;
        grid-template-rows: 0 25% 22% 0% 60%;
        justify-items: center;
        align-items: center;
    }
    .mainPageForm > p:nth-child(2) {
        color: #fff;
        background-color: rgba(0,0,0,0.5);
        width: max-content;
        padding: 8px 20px;
        border-radius: 9px;
        position: absolute;
        bottom: 92%;
        left: 10px;
        font-size: 5vw;
        grid-row-start: 2;
        grid-row-end: 2;
    }
    .mainPageForm h3 {
        font-family: "Inter";
        font-weight: 700;
        font-size: clamp(25px, 2vw, 45px);
        width: clamp(280px, 75%, 850px);
        text-transform: uppercase;
        color: #fff;
        position: relative;
        top: 0;
        left: 0;
        grid-row-start: 4;
        grid-row-end: 4;
    }
    .mainPageForm > p:last-child {
        width: clamp(100px, 82vw, 300px);
        position: relative;
        font-size: clamp(12px, 4.9vw, 16px);
        left: 0;
        bottom: 0;
        transform: translate(0);
        text-align: center;
        color: #fff;
        grid-row-start: 3;
        grid-row-end: 3;
    }
    .mainPageForm .mainForm div {
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: space-between;
        height: clamp(150px,7vw,200px);
    }
    .mainPageForm form input {
        border-radius: 9px;
        border: none;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 2%;
        font-size: clamp(12px,1vw,16px);
        max-width: 98%;
        min-width: 98%;
        width: 98%;
    }
    .mainPageForm .mainForm {
        position: relative;
        right: 0;
        bottom: 0;
        width: 77vw;
        grid-row-start: 5;
        grid-row-end: 5;
    }
    .mainPageForm > p:nth-child(2) {
        color: #fff;
        background-color: rgba(0, 0, 0, 0.5);
        width: max-content;
        padding: 8px 20px;
        border-radius: 9px;
        position: absolute;
        bottom: 73%;
        left: 16%;
        font-size: 5vw;
    }
    .mainPageForm > p:last-child {
        width: clamp(100px, 82vw, 300px);
        position: absolute;
        font-size: clamp(12px, 4.9vw, 16px);
        left: 0px;
        bottom: 0;
        transform: translate(11vw, -25vw);
        text-align: center;
        color: #fff;
    }
    .mainPageForm h3 {
        font-family: "Inter";
        font-weight: 700;
        font-size: clamp(25px, 2vw, 45px);
        width: clamp(280px, 76%, 850px);
        text-transform: uppercase;
        color: #fff;
        position: absolute;
        top: 29%;
        left: 13%;
        text-align: center;
    }
    .subscribeForm > :first-child {
        border-radius: 7px;
        border: 1px solid #1D64B4;
        width: 94%;
        padding-left: 10px;
        color: rgba(0,0,0,0.6);
        font-family: Inter;
        font-size: clamp(14px,1vw,18px);
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        height: 50px;
    }
    .subscribeForm > :last-child {
        background-color: #1D64B4;
        border-radius: 7px;
        width: 97.5%;
        color: #fff;
        height: 50px;
        border: none;
        margin-top: 15px;
    }
    .leftForm > div {
        width: 100%;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .contactsFormContainer {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-between;
    }
}
@media screen and (max-width: 498px) {
    .moduleForm{
        position: relative;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        padding: 4% 5%;
        border-radius: 20px;
        width: 85%;
    }
    .mainPageForm > p:nth-child(2) {
        color: #fff;
        background-color: rgba(0,0,0,.5);
        width: max-content;
        padding: 8px 20px;
        border-radius: 9px;
        position: relative;
        font-size: 5vw;
        height: 30px;
        left: 0;
        bottom: 0;
    }
    .mainPageForm h3 {
        font-family: Inter;
        font-weight: 700;
        font-size: clamp(25px,2vw,45px);
        width: clamp(280px,76%,850px);
        text-transform: uppercase;
        color: #fff;
        position: relative;
        top: 0;
        left: 0;
        text-align: center;
        transform: translate(0);
    }
    .mainPageForm .mainForm {
        position: relative;
        right: 0;
        bottom: 0;
        width: 77vw;
    }
    .mainContainerForm {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 120px;
        margin-bottom: 100px;
        border-radius: 30px;
        padding: 2% 5%;
        height: max-content;
        min-height: max-content;
        max-height: 300px;
        background: #FFCA18;
    }
    .imgContainer {
       display: none;
    }
    .mainContainerForm form {
        position: relative;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        height: 100%;
        margin-bottom: 2%;
    }
    .mainContainerForm form input {
        border: none;
        padding: 4% 5%;
        width: 90%;
        border-radius: 40px;
        background: #FFF;
        font-size: 3.6vw;
    }
    .mainContainerForm form input:last-child {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .mainContainerForm form p {
        font-weight: 400;
        font-size: 3.3vw;
        width: 100%;
        margin-bottom: 5%;
    }
    .mainContainerForm form div {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-between;
        width: 100%;
    }
    .mainContainerForm form h3 {
        text-transform: uppercase;
        font-weight: 900;
        font-size: 5vw;
    }

    .mainContainerForm form button {
        width: 100%;
        border: none;
        padding: 4% 5%;
        border-radius: 40px;
        background: #FFF;
        font-weight: 600;
        margin-top: 2%;
        cursor: pointer;
        font-size: 3.4vw;
        transition: all .3s;
    }
    .sliderForm {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-radius: 20px;
        width: 100%;
        background: linear-gradient(145deg, #2C2C2C 0%, rgba(44, 44, 44, 0.00) 100%);
        margin: 0 !important;
        right: 0;
        border-radius: 0;
        height: 100%;
        max-height: 100%;
        min-height: 100px !important;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 0;
        padding-left: 0;
    }
    .sliderForm h3 {
        font-size: 6vw;
        width: 100%;
        margin-bottom: auto !important;
        text-align: center;
        color: #fff;
        margin-top: auto !important;
    }
    .sliderForm button {
        font-weight: bold;
        font-size: 4.2vw;
        border-radius: 6px;
        background: #FFCA18;
        padding: 5% 0 !important;
        border: none;
        transition: all .3s;
        width: 95% !important;
        margin: auto;
        margin-top: 3svh;
        margin-left: 2%;
        margin-bottom: 40px;
    }
    .sliderForm > div {
        width: 96%;
        margin: auto;
        height: max-content;
    }
    .cityesContainer > img {
        position: relative !important;
        height: 48px !important;
        width: auto !important;
        margin-top: auto !important;
    }
    .cityesContainer,  .dataContainer {
        display: flex;
        flex-direction: column !important;
    }
    .cityesContainer > *,  .dataContainer > * {
        border-radius: 6px !important;
        width: 93% !important;
    }
    .dataContainer > * input {
        border-radius: 6px !important;
        min-width: 100% !important;
    }
    .dataContainer > *:not(:first-child) {
        margin-top: 10px !important;
    }
    .dataContainer {
        margin-top: 10px;
        height: max-content;
    }
    .dataContainer .dataRow img {
        position: relative !important;
        height: 48px !important;
        width: auto !important;
        margin-top: auto !important;
    }
    .dataContainer .dataRow {
        min-width: 94%;
    }
    .sliderForm input {
        color: #fff !important;
        border-radius: 6px;
        padding: 5% 0 5% 5% !important;
        border: none;
        background: rgba(255, 255, 255, 0.53);
        font-size: clamp(14px,0.8vw, 18px) !important;
        min-width: 93.9%;
    }
    .sliderForm input::placeholder {
        color: #fff !important;
        font-size: clamp(16px,1vw, 18px) !important;
    }
}

@media screen and (min-width: 1500px) {
    .sliderForm h3 {
        font-size: 30px;
    }
    .sliderForm button, .sliderForm input {
        font-size: 20px;
    }
    .mainContainerForm form h3 {
        font-size: 40px;
    }
    .mainContainerForm form p {
        font-size: 20px;
    }
    .mainContainerForm form input {
        font-size: 20px;
    }
    .mainContainerForm form button {
        font-size: 20px;
    }
}
