.fullWidth {
    position: relative;
    left: 0;
    width: 100svw !important;
    background-color: #FFF3E8;
    transform: translateX(-10%);
    margin-top: 140px !important;
    min-height: 480px;
}
.downBlock {
    width: 90%;
    margin: auto;
    margin-top: auto;
    position: relative;
    height: 400px;
    margin-top: 3%;
    overflow: hidden;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}
.downBlock div {
    position: relative;
}
.downBlock div:first-child {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 30%;
    margin-top: auto;
    margin-bottom: auto;
    width: 23%;
    margin-right: 0;
}
.downBlock div:first-child h2 {
    text-transform: uppercase;
    font-size: clamp(30px, 10vw, 40px);
    width: 100%;
    margin-top: 20px;
}
.downBlock div:first-child p {
    font-weight: 500;
    font-size: clamp(16px,1.2vw,18px);
    color: #292929;
}
.downBlock div:last-child {
    margin-left: clamp(20px,5%, 40px);
    width: clamp(250px, 40%, 500px);
    margin-left: 8%;
    margin-right: -3%;
}
.downBlock div:last-child img {

}
.downBlock div button {
    width: 100%;
    margin-top: 20px;
    font-weight: bold;
    font-family: "Inter";
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    border-radius: 6px;
    padding: 5% 3% !important;
    border: none;
    height: 55px !important;
    cursor: pointer;
    transition: all .3s;
    font-size: clamp(14px,0.8vw, 18px) !important;
    background: linear-gradient(343deg, #ff6006 0%, #ffa800 100%) !important;
    width: 100% !important;
    display: flex;
    align-items: center;
    justify-content: center;
}
.downBlock img {
    object-fit: contain;
    transition: all .5s;
}
@media screen and (max-width: 1550px) {
    .downBlock div:first-child {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 30%;
        margin-top: auto;
        margin-bottom: auto;
        width: clamp(350px, 36%, 450px);
        margin-right: 0;
    }
}
@media screen and (max-width: 768px) {
    .lupa {
        position: absolute;
        transform: translate(42vw,75vw);
        cursor: pointer;
        z-index: 9999;
    }
    .downBlock div:first-child h2 {
        text-transform: uppercase;
        font-size: clamp(21px,9.2vw,40px);
        width: 100%;
        margin-top: 20px;
    }
    .downBlock div:first-child {
        width: clamp(350px, 100%, 450px);
    }
    .downBlock {
        width: 100%;
        height: max-content;
    }
    .fullWidth {
        position: relative;
        left: 0;
        width: 107% !important;
        background-color: #FFF3E8;
        transform: none;
        margin-top: 140px !important;
        min-height: 518px;
        transform: translate(-3%, 0);
        padding-top: 23px;
    }
    .downBlock div button {
        width: 100%;
        margin-top: 20px;
        font-family: Inter;
        font-weight: 700;
        text-transform: uppercase;
        color: #fff;
        border-radius: 6px;
        padding: 5% 3% !important;
        border: none;
        height: 55px !important;
        cursor: pointer;
        transition: all .3s;
        font-size: clamp(14px,.8vw,18px) !important;
        background: linear-gradient(343deg,#ff6006,#ffa800) !important;
        width: 93% !important;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .downBlock {
        width: 90%;
        margin: auto;
        margin-top: auto;
        position: relative;
        height: max-content;
        margin-top: 3%;
        overflow: hidden;
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        display: flex;
        flex-direction: column;
    }
    .downBlock div:last-child {
        margin-left: clamp(20px,5%, 40px);
        width: clamp(250px, 40%, 500px);
        margin-left: auto;
        margin-right: auto;
        margin-top: 47px;
        height: 159px;
    }
}
